/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
    --ifm-color-primary: #3f4241;
    --ifm-color-primary-dark: #393b3b;
    --ifm-color-primary-darker: #363837;
    --ifm-color-primary-darkest: #2c2e2d;
    --ifm-color-primary-light: #454947;
    --ifm-color-primary-lighter: #484c4b;
    --ifm-color-primary-lightest: #525655;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
.purple-text {
    color: rebeccapurple;
}

/*.hero--primary {*/
/*    background-color: #003883;*/
/*}*/

/* Overriding root Infima variables */
[data-theme='dark'] {
    --ifm-color-primary: #4e89e8;
}
/* Styling one class specially in dark mode */
[data-theme='dark'] .purple-text {
    color: plum;
}

ul.features {
    list-style: none; /* remove default bullet points */
}

ul.features li::before {
    content: "\2713"; /* unicode character for a check mark */
    color: mediumpurple; /* color of check mark */
    border: 2px solid green; /* color and thickness of circle border */
    border-radius: 50%; /* make the square background into a circle */
    display: inline-block; /* necessary to add padding and size */
    width: 20px; /* size of circle */
    height: 20px; /* size of circle */
    text-align: center; /* center the check mark */
    line-height: 20px; /* vertically center the check mark, should be the same as height */
    margin-right: 10px; /* space between bullet and text */
    background-color: transparent; /* color of circle */
}

