<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <!-- Console Appender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p | %d{HH:mm:ss} | [%t] %c{1} - %m%n" />
        </layout>
    </appender>
    
    <!-- Info Log File Appender (optional - for debugging) -->
    <appender name="info-log" class="org.apache.log4j.FileAppender">
        <param name="File" value="tx-dsl-it.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
            <param name="LevelMax" value="info" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>
    
    <!-- Error Log File Appender -->
    <appender name="error-log" class="org.apache.log4j.FileAppender">
        <param name="Append" value="false" />
        <param name="File" value="tx-dsl-error.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="warn" />
            <param name="LevelMax" value="fatal" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>
    
    <!-- Package-specific loggers -->
    
    <!-- TxDsl integration tests - DEBUG level to see all test logs -->
    <logger name="com.bloxbean.cardano.client.dsl" additivity="false">
        <level value="debug" />
        <appender-ref ref="console" />
        <appender-ref ref="info-log" />
        <appender-ref ref="error-log" />
    </logger>
    
    <!-- Base integration test utilities -->
    <logger name="com.bloxbean.cardano.client.it" additivity="false">
        <level value="info" />
        <appender-ref ref="console" />
    </logger>
    
    <!-- Transaction building logs -->
    <logger name="com.bloxbean.cardano.client.quicktx" additivity="false">
        <level value="info" />
        <appender-ref ref="console" />
    </logger>
    
    <!-- Reduce noise from backend services -->
    <logger name="com.bloxbean.cardano.client.backend" additivity="false">
        <level value="warn" />
        <appender-ref ref="console" />
    </logger>
    
    <!-- Reduce noise from HTTP libraries -->
    <logger name="org.apache.http" additivity="false">
        <level value="warn" />
        <appender-ref ref="console" />
    </logger>
    
    <!-- Root logger -->
    <root>
        <level value="info" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>